body{
    background-color: black;
}
.principal{
    background-color: rgb(12, 19, 110);
    border: 3px solid springgreen;
    width: 1200px;
    height: 980px;
}
.conteudo{
    background-color: blueviolet;
    color: white;
    border: 1px solid red;
    width: 150px;
    height: 300px;
    float: left;
    padding: 20px;
    margin: 10px;
}
.conteudo1{
    background-color: black;
    color: white;
    border: 1px solid red;
    width: 150px;
    height: 150px;
    float: left;
    padding: 20px;
    margin: 10px;
}
.conteudo2{
    background-color: rgb(228, 42, 150);
    color: white;
    border: 1px solid red;
    width: 150px;
    height: 150px;
    float: left;
    padding: 20px;
    margin: 10px;
}
.conteudo3{
    background-color: goldenrod;
    color: white;
    border: 1px solid red;
    width: 150px;
    height: 150px;
    float: left;
    padding: 20px;
    margin: 10px;
}
.conteudo4{
    background-color: rgb(33, 189, 46);
    color: white;
    border: 1px solid red;
    width: 150px;
    height: 150px;
    float: left;
    padding: 20px;
    margin: 10px;
}
.conteudo5{
    background-color: rgb(98, 100, 209);
    color: white;
    border: 1px solid red;
    width: 150px;
    height: 150px;
    float: left;
    padding: 20px;
    margin: 10px;
}
.clear{
    clear: left;
}