h2{
    text-align: center;
    font-size: 25px;
}
.noticia{
    border: 1px solid rgb(216, 208, 208);
    margin: 10px;
    width: 320px;
    height: auto;
    float: left;
    color: rgb(0, 0, 0);
    
}
img{
    margin: auto;
    display: block;
    width: 250px;
    border: 3px solid #cfc5c5;
}
.coluna{
    width: 120px;
    height: 800px;
    float: left;
}
.coluna2{
    width: 120px;
    height: 800px;
    float: right;
}
.s{
    color: black;
    text-align: center;
    font-size: 55px;
    text-shadow: 5px 5px 10px #858d85;
}
body{
    background-image: url(../img/fundo2.png);
}
p{
    padding: 10px;
    text-align: justify;
}
h5{
    text-align: center;
    clear: both;
}
img:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
nav{
    width: 614px;
    display: flex;
    position: static;
    background-color: #dddddd;
    clear: both;
    margin-left: 26%;
    margin-top: -20px;
    border-radius: 30px;

}
nav a {
    color: #fff;
    margin: auto 20px auto 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

}

nav li {
    float: left;
    list-style: none;
    margin-left: 20px;
    text-align: center;
}
a:hover{
    color: black;
    font-size: 22px;
}
